
time
{
    font-size: 2rem;
    font-weight:600;
    color:#637b93;
}
button
{
    border:none;
    background:none;
}
#dateLabel
{
    font-size: 2rem;
    font-weight: 600;
}
#previous
{
    position: relative;
    left:-4rem;
}
#next
{
    position: relative;
    left:4rem;
}

input[type="text"]
{
    width:220px;
    height:45px;
    margin-top:5px;
    border-radius:5px;
    font-size: 1.3rem;

}

.weekdays
{
    font-weight: 600;
    font-size: 1.3rem;
}
.weekdays:first-child
{
  margin-left:70px;
}

.main-container
{
    /* border:2px solid red; */
    margin-left:auto;
    margin-right: auto;
    width:35%;
    background:#d9e3ec;
    height:600px;
}

.select-date
{
   padding:20px;
   /* border:1px solid blue; */
}
.adjust-icon
{
    width:30px;
}

.calendarGridContainer
{
   margin-top:10px;
    /* background:green; */
    
    width:95%;
    margin-left:20px;
    border-radius:10px;
    background:white;
  
   
   
}
.calendarIndicator
{
    /* border:2px solid red; */
    height:70px;
    display:flex;
    justify-content: center;
   align-items: center;


   
}
.weekdays-container
{
    /* border:2px solid yellow; */
    height:50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.calendarDays-container
{
    margin-left:60px;
    /* background:purple; */
    height:300px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(45px,80px));
    padding:0px 0px 0px 13px;
}
.calendarDays-container button:first-child
{
    grid-column: 6;
    
}